jieba==0.42.1
numpy==1.23.0

# 以下按实际机器上的cuda版本去官网下载, 镜像很容易下到CPU版本的torch
# pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113
# 镜像: pip3 install torch torchvision torchaudio -i https://pypi.mirrors.ustc.edu.cn/simple/